.rm-logo {
    width: 60px;
    height: 50px;
}

.mode {
    width: 40px;
    cursor: pointer;
}

.main-img {
    width: 100%;
}

.img-madrid {
    width: 70%;
    height: 500px;
}

.theme-dark {
    background-color: #000;
    color: #fff;
}

.theme-light {
    background-color: #fff;
    color: #000;
}